page{
    background-color:#fde2e64d;
}
button::after {
    border: none;
  }
.fakeImgWrap{
    padding: 30px;
    .fakeImg{
        width: 100%;
        // height: auto;
    }
}
.notice{
    font-size: 24px;
    color: #999;
    margin-bottom: 20px;
}
.footer_btn{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}
.btn_left{
    flex: 1;
    border: none;
    font-size: 36px;
    border-radius: 0;
    background: #efefef;
    color: #666;
    // padding: 0 40px;
    height: 100px;
    line-height: 100px;
}
.btn_right{
    flex:1;
    border: none;
    background: red;
    font-size: 36px;
    color: #fff;
    border-radius: 0;
    // padding: 0 60px;
    height: 100px;
    line-height: 100px;
}